{% extends 'after_base.html' %}
{% block title %}Portfolio{% endblock %}

{% load static %}

{% block content %}
{% endblock content %}

{% block content2 %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Test Your Plan:</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Trade</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  
  <div class="container mt-5">
    <form id="stock-selection-form">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="stock-symbols" class="form-label">Enter the Stocks symbol (separated with a comma):</label>
          <input type="text" class="form-control" id="stock-symbols" name="stock-symbols" required>
          <div style="display: flex; align-items: center;">
            <span id="symbols_warning_message" style="display: none; color: red; font-size: small;">Undefined symblols: </span>
            <span id="symbols_warning_message3" style="display: none; color: red; font-size: small;">These symbols are not in technology sector: </span>
            <span id="symbols_warning_message2" style=" color: red; font-size: small;"></span>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="due-date" class="form-label">Select the expected selling date:</label>
          <input type="date" class="form-control" id="due-date" name="due-date" required>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="initial-amount" class="form-label">Enter the initial amount:</label>
          <input type="number" class="form-control" id="initial-amount" name="initial-amount" required>
          <p id="wallet_warning_message" style="display: none; color: red; font-size: small;">You do not have enough money in your wallet to complete this process.
            Go to your <a href = "{% url 'Utrade:portfolio' %}">protfolio</a> to edit the wallet, or try entering a smaller amount</p>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">Next</button>
    </form>
  </div>
</main><!-- End #main -->

{% comment %} Getting data {% endcomment %}
<script>
  var wallet = 0;
  $.ajax({
      type: 'GET',
      url: '/get_wallet/',
      success: function (response) {
          wallet = response.wallet;
          console.log(wallet);
          localStorage.setItem('wallet',wallet);
      },
      error: function (error) {
          console.error(error);
      }
  });
  
  function makeAjaxRequest_Plans() {
    return new Promise(function (resolve, reject) {
        $.ajax({
            type: 'GET',
            url: '/get_plans/',
            success: function (response) {
                try {
                    // Log the raw response for debugging
                    console.log('Raw Server Response:', response);
                    if(response.plans !=='[]' && response.plans !==''){
                      console.log("It is not empty")
                      // Parse the response assuming it's JSON
                      const userPlans = JSON.parse(response.plans);

                      // Log the parsed userPlans for debugging
                      console.log('Parsed User Plans:', userPlans);

                      // Store the plans in localStorage                  
                      localStorage.setItem("stockDataArray", JSON.stringify(userPlans));
                    }
                    else{
                      console.log("It is empty");
                      const userPlans = [];
                      localStorage.setItem("stockDataArray", JSON.stringify(userPlans));
                    }

                    resolve(); // Resolve the promise on successful completion
                } catch (parseError) {
                    console.error('Error parsing server response:', parseError);
                    reject(parseError); // Reject the promise on parse error
                }
            },
            error: function (error) {
                console.error('Error in AJAX request:', error);
                reject(error); // Reject the promise on AJAX error
            }
        });
    });
  }

</script>

<script>
  makeAjaxRequest_Plans().then(function () {
    console.log("HELLO")
    

    var stockDataArray = JSON.parse(localStorage.getItem("stockDataArray")) || [];
    const test = JSON.parse(localStorage.getItem("stockDataArray")) || 0;

    //const wallet = localStorage.getItem('wallet')||0;
    console.log(stockDataArray[stockDataArray.length-1])

    // var newID;
    // if(test)
    //   newID = stockDataArray[stockDataArray.length-1].ID + 1;
    // else
    //   newID = 1;

    var newID = 1;
    if (test && stockDataArray.length > 0)
      newID = stockDataArray[stockDataArray.length - 1].ID + 1;



    document.getElementById("stock-selection-form").addEventListener("submit", function (e) {
        e.preventDefault();

        const initialAmount = document.getElementById("initial-amount").value;
        console.log("You have: "+wallet + "$ in your wallet");
        if(Number(initialAmount) > Number(wallet)){
          document.getElementById('wallet_warning_message').style.display = 'block';
        }
        else{
          
          const stockSymbols = (document.getElementById("stock-symbols").value.replace(/\s/g, "")).split(",");
          const uniqueStockSymbols = [...new Set(stockSymbols)]; // Remove duplicate symbols

          const dueDate = document.getElementById("due-date").value;

          const today = new Date();
          const year = today.getFullYear();
          const month = (today.getMonth() + 1).toString().padStart(2, '0'); // Month is 0-based, so add 1
          const day = today.getDate().toString().padStart(2, '0');
          const formDate = `${year}-${month}-${day}`;

          trade = {
            ID: newID,
            Appearance: "block",
            FromDate: formDate,
            DueDate: dueDate,
            Budget: initialAmount,
            FinalAmount: "0",
            data:[]
          }
          // Fetch the price for each symbol from the API
          const apiUrl = `https://financialmodelingprep.com/api/v3/quote-order/`;
          const apiKey = 'hyVSthYNOyrZg6X0L6B19DBYXUP5JDyJ';
          //const apiKey = '0f08f20f61c268804f9e94f55246c81a';
          //const apiKey = 'FnmypkCJXo2N0ejSmZDeyXgJIvKAFVS8';
          //another apikey => k0wOZwaeBqPBeeutNskntC6QdhCCK4WY

          const TechnologySymbols = [
            "AAPL", "MSFT", "GOOGL", "AMZN", "FB","GOOG",
            "INTC", "AMD", "NVDA", "TXN", "QCOM",
            "IBM", "ORCL", "CSCO", "HPQ", "AAP", "CRM", "NOW", "ADBE", "SAP", "VMW",
            "TSLA", "NFLX", "TWTR", "UBER", "PYPL", "V", "MA", "INTU", "EBAY", "SQ",
            "AMD", "MU", "AMAT", "AVGO", "LRCX", "KLAC", "ADI", "SWKS", "NXPI",
            "XLNX", "MRVL", "TSM", "TXN", "INTC", "CSCO", "HPQ", "DXC", "WDC", "STX"
          ];
          var sucsess = true;
          document.getElementById('symbols_warning_message2').textContent = "";
          uniqueStockSymbols.forEach((symbol) =>{
            if(!TechnologySymbols.includes(symbol.toUpperCase())){
              if(document.getElementById('symbols_warning_message3').style.display == "none"){
                document.getElementById('symbols_warning_message3').style.display = "block";
                document.getElementById('symbols_warning_message3').textContent+="\n";
              }
              document.getElementById('symbols_warning_message2').textContent+= " "+symbol+",";
              console.log("There is a not tech")
              if(sucsess === true)
                sucsess = false;
            }
          });

          if(sucsess){
            if(document.getElementById('symbols_warning_message3').style.display == "block"){
                document.getElementById('symbols_warning_message3').style.display = "none";
            }
            // Use a promise to ensure all API requests are completed before redirecting
            let hasError = false;
            const fetchSymbolDataPromises = uniqueStockSymbols.map(symbol => {
                document.getElementById('symbols_warning_message2').textContent = "";
                return fetch(`${apiUrl}${symbol}?apikey=${apiKey}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Error fetching data for symbol ${symbol}: ${response.status} - ${response.statusText}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        const sharePrice = data[0].price;
                        // Create an object for each symbol with 1 share and the price
                        const symbolData = { symbol: symbol, shares: 1, price: Number(sharePrice), finalPrice: 0 };
                        trade.data.push(symbolData);
                    })
                    .catch(error => {
                        console.error(error);
                        document.getElementById('symbols_warning_message').style.display = "block";
                        document.getElementById('symbols_warning_message2').textContent += " "+symbol+",";
                        //alert(`Error fetching data for symbol ${symbol}: ${error.message}`);
                        hasError = true;
                    });
            });

            Promise.all(fetchSymbolDataPromises)
                .then(() => {
                    // Only proceed to the next page if there are no errors
                    if (!hasError) {
                        stockDataArray.push(trade);

                        // Store the array of symbol data in localStorage
                        localStorage.setItem("stockDataArray", JSON.stringify(stockDataArray));

                        // Redirect to the second page
                        localStorage.setItem('wallet', (Number(wallet) - Number(initialAmount)));
                        window.location.href = "{% url 'Utrade:next_trade' %}";
                    } else {
                        // Handle errors here if needed, but don't redirect to the next page
                    }
                })
                .catch(error => {
                    console.error(error);
                    // Handle other errors here if needed
                });

          }

        }
    });

  }).catch(function (error) {
    console.error('Error in first script:', error);
  });
</script>

{% endblock content2 %}